@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

.heading {
  display: relative;
  margin: 20px auto 0 auto;
  font-family: 'Changa';
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  letter-spacing: : 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 8px;
  margin-top: 10px;
  padding: 10px;
}

.grid-item  {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
}

.grid-item.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img:hover {
  background: #ccc;
}
